# Backend Variables
MONGO_URI=mongodb://localhost:27017/
DATA_GOV_API_KEY=your_key_here
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

LASALGAON_LAT=20.5669
LASALGAON_LON=74.1748
AGRA_LAT=27.1767
AGRA_LON=78.0081
BANGALORE_LAT=12.9716
BANGALORE_LON=77.5946

MODEL_SAVE_PATH=./models/saved/
RETRAIN_SCHEDULE_HOURS=24

# Frontend Variables
VITE_API_BASE_URL=http://localhost:8000
VITE_APP_NAME=KisanMitra AI
